* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  height: 2em;
}

h1 {
  font-size: 1.2em;
  text-indent: 20px;
  background: url(../static/icon.png) no-repeat center left;
  background-size: 16px;
}

header a {
  color: #555555;
  display: inline-block;
  height: 100%;
  aspect-ratio: 1/1;
  padding: .3em;
}

header div {
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

header a:hover {
  color: hotpink;
}

header a svg {
  overflow: visible;
  margin-top: -4px;
}

#menu {
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
}

#pause {
  width: 2em;
  height: 2em;
  background: rgba(0, 0, 0, .2) url(../static/pause.svg) center 0.6em no-repeat;
  background-size: 50%;
  text-indent: -999px;
  border: 0;
  position: absolute;
  top: 1em;
  left: 1em;
  cursor: pointer;
  opacity: .5;
}

#pause.paused {
  background-image: url(../static/play.svg);
  background-size: 90%;
  background-position-y: .3em;
}

#pause:hover {
  opacity: .8;
}


video {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
}

.bar {
  display: flex;
  flex-direction: row;
}

.bar div {
  flex: 1;
  padding: 1em;
  display: flex;
  aspect-ratio: 2 / 1;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  mix-blend-mode: difference;
}

.bar div:nth-child(1) {
  background: #666;
}

.bar div:nth-child(2) {
  background: #999;
}

.bar div:nth-child(3) {
  background: #BBB;
}

#colours {
  margin-bottom: 1em;
}

div.prompt {
  cursor: unset;
  font-size: small;
}
